
@font-face {
    font-family: 'lcd'; 
    src: url('../fonts/lcd.ttf') format('truetype'); 
}

@font-face {
    font-family: 'pobeda'; 
    src: url('../fonts/pobeda.ttf') format('truetype'); 
}

body {
    text-align: center;
    background-image: url('../images/fonsait2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.contacts-nav__link {
    display: inline-block;
    margin: 10px;
    padding: 5px;
    font-size: 28px;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
    border: none;
}

.contacts-nav__icon {
    font-size: 24px; 
}

.header__logo {
    color: #fff;
    font-family: "lcd", sans-serif;
    font-size: 55px;
    text-shadow: 0 0 30px rgba(255, 255, 255); 
    padding-bottom: 35px;
}

.product-card {
    background-color: #28282a;
    border: 2px solid #fff;
    padding: 5px; 
    margin: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.product-card__image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-card__button {
    font-family: "pobeda", sans-serif;
    color: #edeced;
    font-size: 26px;
    background: none;
    border: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
    padding-top: 60px;
}

.modal__content {
    background-color: #101011;
    margin: 5% auto;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 25px;
    width: 80%;
    text-align: center;
}

.modal__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal__close:hover,
.modal__close:focus {
    color: black;
    text-decoration: none;
}

.modal__image {
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
}

.modal__text {
    font-family: "pobeda", sans-serif;
    color: #edeced;
    font-size: 28px;
}

.modal__contacts {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modal__link {
    display: inline-block;
    margin: 10px;
    padding: 5px;
    font-size: 28px;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
    border: none;
}

.modal__icon {
    font-size: 24px;
}

.separator {
    border-top: 1px solid #edeced;
    margin: 20px 0;
}

.footer {
    text-align: center;
    padding: 10px;
    font-family: "pobeda", sans-serif;
}

.footer__contacts {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    color: #edeced;
    font-size: 20px;
    border-radius: 5px;
}

.footer__title {
    margin: 0px;
    padding: 0px;
    color: #edeced;
    font-size: 28px;
    border-radius: 5px;    
}

.footer__link {
    display: inline-block;
    margin: 10px;
    padding: 5px;
    font-size: 28px;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
    border: none;
}

.footer__icon {
    font-size: 24px;
}

.text-card {
    text-align: center;
    padding: 5px; 
    border-radius: 10px;
    box-sizing: border-box;
}

.text-card__content {
    font-family: "pobeda", sans-serif;
    white-space: normal;	
    display: inline-block;
    vertical-align: middle;
    font-size: 32px; 
    border-radius: 10px;
}

.text-card__title {
    font-family: "pobeda", sans-serif;
    color: #fff;
    font-size: 32px;
    margin-bottom: 20px;
}

.text-card__text {
    font-family: "pobeda", sans-serif;
    color: #fff;
    font-size: 32px;
    line-height: 1.4;
}